

@font-face {
    font-family: 'pt_serif';
    src: url('../fonts/pt_serif-web-bold-webfont.eot');
    src: url('../fonts/pt_serif-web-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pt_serif-web-bold-webfont.woff2') format('woff2'),
         url('../fonts/pt_serif-web-bold-webfont.woff') format('woff'),
         url('../fonts/pt_serif-web-bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

}




@font-face {
    font-family: 'pt_serif';
    src: url('../fonts/pt_serif-web-bolditalic-webfont.eot');
    src: url('../fonts/pt_serif-web-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pt_serif-web-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/pt_serif-web-bolditalic-webfont.woff') format('woff'),
         url('../fonts/pt_serif-web-bolditalic-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;

}




@font-face {
    font-family: 'pt_serif';
    src: url('../fonts/pt_serif-web-italic-webfont.eot');
    src: url('../fonts/pt_serif-web-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pt_serif-web-italic-webfont.woff2') format('woff2'),
         url('../fonts/pt_serif-web-italic-webfont.woff') format('woff'),
         url('../fonts/pt_serif-web-italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;

}




@font-face {
    font-family: 'pt_serif';
    src: url('../fonts/pt_serif-web-regular-webfont.eot');
    src: url('../fonts/pt_serif-web-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pt_serif-web-regular-webfont.woff2') format('woff2'),
         url('../fonts/pt_serif-web-regular-webfont.woff') format('woff'),
         url('../fonts/pt_serif-web-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}