/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
        white-space: nowrap;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/******************************************************************

Stylesheet: Helper classes, anything you create to be reused a lot

******************************************************************/

.relative 				{ position: 		relative;		}
.inline 				{ display:			inline; 		}
.va-mid					{ vertical-align:	middle; 		}
.boundry 				{ border: 			1px solid red; 	}
.block					{ display: 			block;			}
.nolist					{ list-style-type: 	none; margin-left: 0;		}
.lighter				{ font-weight: lighter !important; }
.normal					{ font-weight: normal !important; }
.upper					{ text-transform: uppercase; }
.underline					{ text-decoration: underline; }


$large-space:	50px; 
$medium-space:	map-get($grid-column-gutter,medium);
$small-space:	15px;

// Paddings ========================================================
.pa 	{	padding: $small-space; 	}
.pz 	{ 	padding: 0;				}
.pas 	{ 	padding: 0.5em;			} 
.pam 	{ 	padding: $small-space;		
	@include breakpoint(medium) { padding: $medium-space !important;}		
}
.pal 	{ 	padding: 1.5em;	
	@include breakpoint(medium) { padding: $large-space !important;}		
}

.p-tiny   { padding-top: 3px; padding-bottom: 3px;  }
.ps 	{ 	padding-top: $small-space; 		padding-bottom: $small-space;	}
.pm 	{ 	padding-top: $small-space; 	padding-bottom: $small-space;	
	@include breakpoint(medium) {	padding-top: $medium-space;	padding-bottom: $medium-space;	}
	@include breakpoint(large) {	padding-top: $medium-space;		padding-bottom: $medium-space;	}
}
.pl 	{ 	padding-top: $medium-space; padding-bottom: $medium-space;	
	@include breakpoint(medium) {	padding-top: $medium-space;	padding-bottom: $medium-space;	}
	@include breakpoint(large) {	padding-top: $large-space;		padding-bottom: $large-space;	}
}
.ptz 	{ 	padding-top: 		0; 					}
.pts 	{  	padding-top: 		$small-space;		}
.ptm 	{  	padding-top: 		$small-space;		
	@include breakpoint(medium) { 	padding-top: $medium-space;	}
	@include breakpoint(large) {	padding-top: $medium-space;	}
}
.ptl 	{ 	padding-top: 		$medium-space;		
	@include breakpoint(medium) { 	padding-top: $medium-space;	}
	@include breakpoint(large) {	padding-top: $large-space;	}
}
.pbz 	{ 	padding-bottom: 	0; 					}
.pbs 	{  	padding-bottom: 	$small-space;		}
.pbm 	{  	padding-bottom: 	$small-space;		
	@include breakpoint(medium) { 	padding-bottom: $medium-space;	}
	@include breakpoint(large) {	padding-bottom: $medium-space;	}
}
.pbl 	{ 	padding-bottom: 	$medium-space;		
	@include breakpoint(medium) { 	padding-bottom: $medium-space;	}
	@include breakpoint(large) {	padding-bottom: $large-space;	}
}



// Margins  ========================================================
.ma 	{	margin: 2em; }
.mat 	{	margin: 1px; }
.mz 	{ 	margin: 0 !important; } 
.ms 	{ 	margin-top: 	$small-space !important; 	margin-bottom: 	$small-space !important;	} 
.mm 	{ 	margin-top: 	$medium-space !important; 	margin-bottom: 	$medium-space !important;	
	@include breakpoint(medium) { 	margin-top: $medium-space !important;margin-bottom: $medium-space !important;	}
	@include breakpoint(large) {	margin-top: $medium-space !important;	margin-bottom: $medium-space !important;	}
} 
.ml 	{ 	margin-top: 	$medium-space !important; 	margin-bottom: 	$medium-space !important;	
	@include breakpoint(medium) { 	margin-top: $medium-space !important;		margin-bottom: $medium-space !important;	}
	@include breakpoint(large) {	margin-top: $large-space !important;		margin-bottom: $large-space !important;	}
} 
.mtz 	{ 	margin-top: 	0 !important; } 
.mts 	{  	margin-top: 	$small-space !important; } 
.mtm 	{  	margin-top: 	$medium-space !important;	
	@include breakpoint(medium) { 	margin-top: $medium-space !important;	}
	@include breakpoint(large) {	margin-top: $medium-space !important;		}
} 
.mtl 	{ 	margin-top: 	$medium-space !important;		
	@include breakpoint(medium) { 	margin-top: $medium-space !important;		}
	@include breakpoint(large) {	margin-top: $large-space !important;		}
} 
.mbz 	{ 	margin-bottom: 	0 !important; } 
.mbs 	{  	margin-bottom: 	$small-space !important; } 
.mbm 	{  	margin-bottom: 	$medium-space !important;	
	@include breakpoint(medium) { 	margin-bottom: $medium-space !important;	}
	@include breakpoint(large) {	margin-bottom: $medium-space !important;	}
} 
.mbl 	{	margin-bottom: 	$medium-space !important;		
	@include breakpoint(medium) { 	margin-bottom: $medium-space !important;	}
	@include breakpoint(large) {	margin-bottom: $large-space !important;	}
} 
.mb-gutter { margin-bottom: map-get($grid-column-gutter,small);
	@include breakpoint(medium) { 	margin-bottom: map-get($grid-column-gutter,medium) !important;	}
	@include breakpoint(large) {	margin-bottom: map-get($grid-column-gutter,large) !important;	}
}


// $border-helper-color: $primary-color;
$border-helper-color: $light-gray;
.border 		{ border: 1px solid $border-helper-color; }
.border-top 	{ border-top: 1px solid $border-helper-color; }
.border-bottom 	{ border-bottom: 1px solid $border-helper-color; }
.border-right 	{ @include breakpoint(medium) { border-right: 1px solid $border-helper-color; } }
.border-left 	{ @include breakpoint(medium) { border-left: 1px solid $border-helper-color; } }
.image-border { 	border: 2px solid $dark-gray; padding: 2px; background: $white;	}

// Flexbox ===========================================================
.Aligner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Aligner-item {
  // max-width: 50%;
}

.Aligner-item--top {
  align-self: flex-start;
}

.Aligner-item--bottom {
  align-self: flex-end;
}
.flex {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.flex-center {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	align-items: center;
	justify-content: center;
}
.flex-column {
	flex-direction: column;
	flex-wrap: wrap;
}
@include breakpoint(medium) {
	.flex-stretch {
		display: flex;
		align-items: stretch;
	}
}
.large-flex-stretch {
	@include breakpoint(large) {
		display: flex;
		align-items: stretch;
	}
}

.flex-equal
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
 
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.flex-equal-item
{
    // display: -webkit-flex;
    // display: -ms-flexbox;
    // display: flex;
}

.flex-bottom {
  align-self: flex-end;
}

.flex-center-right {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  justify-content: flex-end;
}

.h400 { 
	height: 400px;
	&.hauto {
		height: auto;
		@include breakpoint(large) {
			height: 400px
		}
	}
}

.mh400 { 
	min-height: 400px;
}

.maxw {
	max-width: 500px;
	margin: 0 auto;
}


// Style
.rounded { border-radius: $global-radius; overflow: hidden; display: block;  }
.rounded-right { border-radius: 0 20px 20px 0; overflow: hidden; display: block; z-index: 0;}
.rounded-small { border-radius: 5px; overflow: hidden; display: block; }
.circle { border-radius: 50%; display: inline-block; overflow: hidden; position: relative; }

// Colours etc
.light-text { 	
	color: $white; 
	h1, h2, h3, h4, h5, h6, p, label {
		color: $white; 
	}
	a {
		color: $primary-color;
		&:hover {
			color: darken($primary-color,10%);
		}
	}
}
.light-links {
	a {
		color: $white;
		&:hover {
			color: $white;
		}
	}
}
.dark-text { 	
	color: $medium-gray; 
	h1, h2, h3, h4, h5, h6, p {
		color: $medium-gray; 
	}
	
}
.dark-links {
	a {
		color: $primary-color;
		&:hover {
			color: $primary-color;
		}
	}
}

.primary-text { 	color: $primary-color !important; }
.secondary-text { 	color: $secondary-color		;}
.success-text { 	color: $success-color		;}
.alert-text { 		color: $alert-color			;}
.warning-text { 	color: $warning-color		;}

.bg-primary { 	background-color: $primary-color !important;  @extend .light-text; @extend .light-links; }
.bg-secondary { background-color: $secondary-color	;}
.bg-success { 	background-color: $success-color		;}
.bg-alert { 	background-color: $alert-color			;}
.bg-warning { 	background-color: $warning-color		;}

.bg-white { 
	background-color: $white;  @extend .dark-text; @extend .dark-links; }
.bg-grey { background-color: $dark-white; @extend .dark-text; @extend .dark-links; }
.bg-mediumgrey { background-color: $medium-gray; @extend .light-text; @extend .light-links; }
.bg-darkgrey { background-color: $dark-gray; @extend .light-text;  @extend .light-links; }
.bg-black { background-color: $black; @extend .light-text; }
.bg-altgrey {background-color: $alt-grey; @extend .light-text;}

.bt-grey { border-top: 1px solid $dark-gray;}

.button.success {
  color: $white !important;
}
.button.white {
	background: $white !important;
	color: $primary-color !important;
	border: 1px solid $white !important;
	&:hover {
		border: 1px solid $white !important;
		color: $white !important;
		background: transparent !important;
	}
}
.button.white.hollow {
	background: transparent !important;
	border: 1px solid $white !important;
	color: $white !important;
	&:hover {
		background: $white !important;
		color: $black !important;
		border: 1px solid $white !important;
	}
}


[class*="block-grid-"] {
  &.text-center {
    > li {
      float: none;
      display: inline-block;
    }
  }
}

.facebook {	color: #3b5999 !important}
.tripadvisor {	color: #589442 !important}
.twitter {	color: #55acee !important}
.instagram {	color: #eeeeee !important}
