/************************************************

Stylesheet: Main Stylesheet

*************************************************/
.row:not(.collapse) {
	padding-left: 15px;
	padding-right: 15px;
}
.bg-photo {
	// background: url(../images/craketrees-background.jpg) no-repeat center center fixed;
	// background-size: cover;
}
/*********************
GENERAL STYLES
*********************/
.extra-actions .has-tip {
	cursor: pointer;
}
.spacer {
	// border: 0;
	max-width: none;
	margin: 0;
	height: 1px;
	background: none;
}
a {
	transition: 0.2s all ease;
}
a.button {
	transition: 0.2s all ease;
	position: relative;
	top: 0;
	color: $white;
	&:hover {
		top: -3px;
		text-decoration: none;
		color: $white;
	}
}
a.button.primary {
	color: $white;
}
p a {
	font-weight: bold;
}
.align-middle {

  display: flex;
  justify-content: center;
  align-items: center;

}
.align-middle-large {
	@include breakpoint(large) {
	  display: flex;
	  justify-content: center;
	  align-items: center;
	}
}
.copyright {
	font-size:0.6rem;
}
.get-in-touch {
	position: fixed;
	// bottom: 0; 
	top:0;
	right: 0;
	left: 0;
	padding: 0 25px;
	font-size: rem-calc(17);
	cursor: pointer;
	z-index: 1001;
	margin: 0 auto;
	width: 223px;
	text-align: center;
	top: -200px;
	transition: 0.5s top ease;
	&.visible {
		top: 0;
	}
	a {
		display: block;
	    padding: 50px 0 10px;
	    border-radius: 0 0 5px 5px;
	    color: #efffc8;
	    font-size: .8125rem;
	    background: url(../images/square-logo.png) no-repeat center 0px #a0aa68;
	    background-size: 61px auto;
	}
}
.fa {
	vertical-align: middle;
}

// testimonials
.testimonial-listing {
    padding-top: 40px; margin-top: -40px
}
.testimonial {
    position: relative;
    padding: 3.5rem 3rem;

    h3 {
        font-size: 1.2rem;

        @include breakpoint(large) {
            font-size: 1.6rem;
        }

    }

    .speech {
        position: absolute;
        color: $dark-gray;
        font-size: 1.5rem;

        &.left {
            left: 1rem;
        }
        &.right {
            right: 1rem;
        }

        @include breakpoint(large) {
            font-size: 3rem;

            &.left {
                left: -2rem;
            }
            &.right {
                right: -2rem;
            }
        }
    }
}
.map {
	height: 600px;
	position: relative;
}
.acf-map {
	width: 100%;
	height: 100%;
	position: absolute !important;
	// border: #ccc solid 1px;
	// margin: 20px 0;
}

.acf-map.large {
	width: 100%;
	height: 400px;
	// border: #ccc solid 1px;
	// margin: 20px 0;
}
.close-button {
	color: $white;
}
#menu-book-menu {
	.submenu {
		li {
			display: block !important;
		}
	}
	& > li > a {
		border: 1px solid $white;
	    border-radius: 3px;
	    background: $white;
	    color: $dark-gray;
	    &:hover {
	    	color: $white;
	    	background: transparent;
	    	&:after {
		    	border-color: $white transparent transparent;
		    }
	    }
	    &:after {
		    	border-color: $dark-gray transparent transparent;
	    }
	}
}
/*********************
LINK STYLES
*********************/
a, a:visited {

	// Mobile tap color
	&:link {
		//Highlight links on iOS, Similar to :hover for mobile devices.
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}
p a {
	// text-decoration: underline;
	&:hover {
		// text-decoration: none;
	}
}
/*********************
H1, H2, H3, H4, H5 P STYLES
*********************/
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	letter-spacing: 0.8px;

	// Removing text decoration from all headline links
	a {
		text-decoration: none;
	}
}

h1, .h1 {

}

h2, .h2 {

}

h3, .h3 {

}

h4, .h4 {
	
}

h5, .h5 {

}
.coffee-bg {
	// background: url(../images/coffee-bg.jpg) repeat center center !important;
	// background-size: 400px 400px;
}
.map-bg {
	// background: url(../images/map-3-bg.jpg) repeat top center;
	// background-size: 400px 400px;
	// background-size: cover;
}
/*********************
HEADER STYLES
*********************/
.header {
	position: relative;
	z-index: 3;
	ul.off-canvas-list li {
		list-style: none;
	}
	a {
		color: $white;
	}
	.social {
		margin-left: 1rem;
	}
	.sticky-container {
		@include breakpoint(medium down) {
			height: auto !important;
		}	
	}
}
.basket {
	position: fixed;
	top: -5px;
	right: 20px;
	z-index:200;
	transition: 0.1s top ease;
	cursor: pointer;
	&:hover { 
		top: 0;

	}
	.basket-icon {
		display: block;
		padding: 20px;
		background: $primary-color;
		border: 2px solid $white;
		border-top: 0;
		border-radius: 0 0 50% 50%;
		color: $white;
		i {
		}
	}
}
.login-link {
	position: absolute;
	top: 0;
	right: 90px;
	padding: 10px;
	color: $black;
	span {
		cursor: pointer;
		&:hover {
			text-decoration: underline;
			// text-transform: uppercase;
		}
	}
}
.logo-container {
	@include breakpoint(small only) {
		text-align: center;
	}
}
.navigation-container {
	padding-top: 7px;
	padding-bottom: 2px;
	@include breakpoint(small only) {
		text-align: center;
	}
}
.address-container {
	text-align: right;
	@include breakpoint(small only) {
		text-align: center;
	}
}
.sticky-call {
	position: fixed; bottom: 0; left: 0; right: 0;  z-index:44;
}

/*********************
NAVIGATION STYLES
*********************/
.menu-container {
	@include breakpoint(large) {
		// height: 75px;
	}
}
	.logo img {
		transition: 0.2s width ease-in-out;
	}
	.top-bar > .pm {
		transition: 0.1s padding ease-in-out;

	}
	.navigation-container {
		transition: 0.1s padding ease-in-out;
	}
.header .is-stuck {
	.logo img {
		width: 100px
	}
	.top-bar > .pm {
		padding-top: 10px;
		padding-bottom: 10px;

	}
	.navigation-container {
		padding:0;
	}

}
#menu-book-now {
	 > li > a {
		text-decoration: underline;
	}
}
.menu-holder {
	// background: url(../images/beans.jpg) no-repeat top left;
	// background-size: contain;
	position: relative;
	// top: 0;
	// left: 0;
	// right: 0;
	// &.fixed {
	// 	position: fixed;
	// }
	.title-area {
		z-index: 1;
	}
	.menu {
		a {
			&:hover {
				text-decoration: none;
			}
		}
		& li {

			& > a {
				color: $white;
				// display: inline;
				// padding: 0;
				font-family: $header-font-family;
				// text-transform: uppercase;
				font-size: rem-calc(17);
				position: relative;
				&:before {
						content: " ";
						margin: 0rem 1rem;
						position: absolute;
						bottom: 1px;
						border-bottom: $white 2px solid;
						left: 0;
						right: 0;
						opacity: 0;
						transition: 0.2s opacity ease-in-out;
					}
			}
			&.current_page_item,
			&.active,
			&:hover {
				a {
					// text-decoration: underline;
					&:before {
						opacity: 1;
					}
				}
			}
		}
	}
} 
.menu-holder ul.is-dropdown-submenu {
	overflow: hidden;
	border-radius: $global-radius;
	// border: 1px solid lighten($dark-gray, 10%);
	li {
		a {
			text-align: left;
			padding: 15px 25px;
			// border-bottom: 1px solid $dark-gray;
			&:hover {
				background-color: $dark-gray;
				color: $primary-color;
				text-decoration: none;
			}
		}
	}
}

.off-canvas-list {
	ul {
		margin-left: 0;
		li {
			a {
				border-bottom: 0px;
			}
		}
		.dropdown {
			margin-left: 20px;
		}
	}
}
.block-menu {
	@include breakpoint(medium down) {
		padding: 20px;
		ul {
			display: inline-block !important;
		}
	}
	li {	
		margin-bottom: 2px;
		@include breakpoint(medium) {
			// width: 30%;
		}
			padding: 0 2px;
		a {
			border-radius: 5px;
			width: 100%;
			background: $primary-color;
			color: $white;
			text-transform: uppercase;
			font-size: rem-calc(18);
			letter-spacing: 3px;
			font-weight: 400;
			position: relative;
			top: 0;
			cursor: pointer;
			&:hover {
				top: -6px;
				// background: none;
				// color: $primary-color;
			}
		}
	}
}
/*********************
POSTS & CONTENT STYLES
*********************/
figure {
	margin: 0;
}

.text-center,
.accomodation-row {
	ul {
		li {
		list-style: inside;
			&:before {
				// content: "\2022";
			}

		}
	}
}
#breadcrumbs {
	// margin-bottom: 20px;
	// border-bottom: 1px solid $light-gray;
	// background: $white;
	font-size: rem-calc(12);
	padding: 10px;
	top: 0;
	left: 0;
	right: 0;
	z-index: 12;
	color: $white;
	@include breakpoint(medium) {
		// position: absolute;

	}
	a {
		color:  $white;
	}
}
.brand-logo-gallery {
	.brand-logo {
		max-width: 200px;
		display: inline-block;
		width: 50%;
		vertical-align: middle;
		padding: 10px;
		img {
			width: 100%;
		}
		@include breakpoint(medium) {
			padding: 20px 20px;
			width: 33%;
		}
		@include breakpoint(large) {
			// width: 25%;
			width: 15%;
		}
	}
}
.feature-row {
	@extend .large-flex-stretch;
	padding-left: 30px;
	padding-right: 30px;
	// & > .column {
	// } 
	.content-container {
		width: 100%; 
		height: 100%; 
		min-height: 300px;
		 @include breakpoint(medium) {
			 min-height: 500px;

		 }
	}
	.image-container {
		 background-repeat: no-repeat;
		 background-position: center center; 
		 background-size: cover; 
		 height: 100%; 
		 min-height: 300px;
		 @include breakpoint(medium) {
			 min-height: 500px;

		 }
	}
}
.mini-testimonial {
	margin: 0 auto;
	// max-width: 200px;
	position: relative;
	@include breakpoint(medium down) {
		margin-bottom: 140px;

	}
	.text {
		// color: $dark-gray;
	}
	img {
		@extend .circle;
		width: 25px;
		height: 25px;
	}

}
.grid-link {
	// min-height: 300px;
	position: relative;
	background-size: cover;
	background-position: center center;
	a {
		// font-size: rem-calc(12);
		text-align: center;
		@extend h2;
		img {
			width: 100%;
		}
		& > span {
			@extend .flex-center;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			color: $white;
			text-transform: uppercase;
			// background: rgba(255,255,255,0.6);
			// position: absolute;
			// bottom: 0;
			// left: 0;
			// right: 0;
			// padding: 2px 5px;
			text-align: center;
			background: rgba(0,0,0,0.5);
			opacity: 1;
			transition: 0.7s all ease;
			// font-size: rem-calc(24);
			&:hover {
				opacity: 0;
			}
		}
	}
}

.blog-post-item {
	position: relative;
	height: 100%;
	@extend .flex-stretch;
	// margin-bottom: $global-margin;
	.featured-image {
		// min-width: 300px;
		min-height: 100px;
		height: 100%;
		@extend .flex-center;
	}
	.article-header {
		@extend .flex-center;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		transition: 0.2s background-color ease;
		background: rgba($dark-gray, 0.6);
		padding: 5px;
		text-align: center;
		color: $white;
		&:hover {
			background: rgba($primary-color, 0);

		}
		a {
			color: $white;
		}
	}
	

}
#content {
	#inner-content {
		// padding: 1rem 0rem;
	}
}

.single-title,
.page-title {
	
}

.single-title {
	
}

.page-title {
	
	// Remove Foundation vcard styling from author page titles
	.vcard {
		border: 0px;
		padding: 0px;
	}
}

.archive-title {

}

// Post meta  
.byline {
	color: #999;
	time {}
}

// Entry content  
.entry-content {
	
	img {
		max-width: 100%;
		height: auto;
	}

	.alignleft, img.alignleft { 
		margin-right: 1.5em; 
		display: inline; 
		float: left; 
	}
	.alignright, img.alignright { 
		margin-left: 1.5em; 
		display: inline; 
		float: right; 
	}
	.aligncenter, img.aligncenter { 
		margin-right: auto; 
		margin-left: auto; 
		display: block; 
		clear: both; 
	}
			
	video, object {
		max-width: 100%;
		height: auto;
		}

	pre {
		background: #eee;
		border: 1px solid #cecece;
		padding: 10px;
		}

} 

.wp-caption {
	max-width: 100%;
	background: $white;
	border: 1px solid $light-gray;
	padding: 5px;
	color: $black;
    border-radius: 5px;
	// Images inside wp-caption  
	img {
		max-width: 100%;
		margin-bottom: 0;
		width: 100%;
	}

	p.wp-caption-text {
		font-size: 0.85em;
		margin: 4px 0 7px;
		text-align: center;
	}
} 

// Add Foundation styling to password protect button
.post-password-form input[type="submit"] {
	@include button;
}
.twitter-tweet-rendered {
	width: 100% !important;
}

$sliderheight_small: 300px;
$sliderheight: 400px;
.slide {
	display: none; 
	&:first-child {
		display: block;
	}
}
.slick-initialized { 
	.slide {
		display: block;
	}
}
.banner {
	// @extend .row;
	background: transparent;
	position: relative;
	z-index: 1;
	// height: $sliderheight_small;
	overflow: hidden;
	// margin-bottom: 1em;
	& > div {
		// max-width: 1600px;
		margin: 0 auto;
	}


	@include breakpoint(large) {
		// height: $sliderheight;
	}

	.slick-wrap {
		position: relative;
	}
	.prev, .next {
		@extend .flex-center;
		// background-color: rgba(0, 0, 0, 0.4);
		color: rgba(0, 0, 0, 0.5);
		position: absolute;
		bottom: 0;
		height: 100%;
		width: 0.7em;
		font-size: 2rem;
		text-align: center;
		z-index: 9;
		cursor: pointer;
		transition: 0.1s all ease;
		&:hover {
			color: rgba(255, 255, 255, 1);
			// background-color: rgba(0, 0, 0, 0.8);
			width: 1.2em;
		}
	}

	.prev {
		// border-radius: 0 5px 0 0;
		left: 0;
	}

	.next {
		// border-radius: 5px 0 0 0;
		right: 0;
	}
	.slick-slider {
		margin: 0;
	}
	.slick-slide {
		position: relative;
		img {
			width: 100%;
		}
	}


	.slide-image {
		background-color: $medium-gray;
		// background-position: center;
		// background-repeat: no-repeat;
		// background-size: cover;
		// height: $sliderheight_small;
		width: 100%;
		img {
		width: 100%;

		}

		@include breakpoint(large) {
			// height: $sliderheight;
		}
	}

	.slide-details {

		z-index: 2;
		// @extend .bg-purple;
		position: absolute;
		bottom: 0;
		right: 0;
		left: 0;
		padding: 1em;
		background: rgba($dark-gray, 0.3);
		h2 {
			// position: absolute;
			// top: 45%;
			left: 0;
			right: 0;
			font-size: rem-calc(18);
			a {
				// background: rgba(0,0,0,0.6);
				display: inline-block;
				color: $white;
				padding: 5px 20px;
				line-height: 1;
			}
		}

	}
}



.fullscreen-video-background {
  background: #000;
  position: relative;
  width: 100%;
  z-index: -99;
	overflow: hidden;
	height: 250px;
	@include breakpoint(medium) {
		height: 400px;
	}
	@include breakpoint(large) {

		height: 60vh;
	}
	
	// http://html5backgroundvideos.com/pattern-overlays/
	// or vegas js
	._pattern-overlay { 
		position: absolute;
		top: 0;
		width: 100%;
		opacity: 0.3;
		bottom: 0;
		z-index: 2;
		@include breakpoint(medium) {
			background-image: url(../images/03.png);
		}
	}
	
	#_buffering-background {
		position: absolute;
		// width: 100%;
		top: 0;
		bottom: 0;
		background: #222;
		z-index: 1;
	}
	
	#_youtube-iframe-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		position: absolute;
		height: 100%;
		
		#_youtube-iframe {
			position: absolute;
			pointer-events: none;
			margin: 0 auto;
			////
			height: 300vh; 
			width: 120vw;
		}
	}
}




.classic-view {
	padding-left: 0.5%;
	padding-right: 0.5%;
	.insta-outer {
  		margin: 0 0.5% 1% !important;
  		width: 100% !important;
	    float: none;
	    line-height: 0;
	    margin: 0;
	    overflow: hidden;
	    position: relative;
	    &:nth-child(2n+2) {
  			clear:left;
  		}
  		@include breakpoint(medium) {
	  		width: 32.3% !important;
	  		float: left;
	  		&:nth-child(2n+2) {
	  			clear:none;
	  		}
	  		&:nth-child(3n+2) {
	  			clear:left;
	  		}
  		}
	  	.page-id-149 & {
	  		float: left;
	  		width: 49% !important;
	  		@include breakpoint(large) {
		  		width: 19% !important;
		  		&:nth-child(3n+2) {
		  			clear:none;
		  		}
		  		&:nth-child(5n+2) {
		  			clear:left;
		  		}
	  		}
	  		p {
	  			display:none;
		  	}
		  	.inline-name {
		  		display: none;
		  	}
		  	.inline-caption {
		  		display: block !important;
		  	}
	  	}
	  	.inline-caption {
	  		display: none !important;
	  	}
	  	.instagram-photo {
	  		width: 100% !important;
	  		padding-bottom: 100% !important;
	  		margin: 0 !important;
	  	}
	  	p {
	  		padding-top: 15px;
	  		font-size: 0.9rem;
	  		clear: both;
	  	}
  	}
  	&.classic-default .instagram-stage {
		max-width: 800px;
		padding-top: 20px;
		.instagram-media {
	 		@include breakpoint(medium) {
	 			float: left !important;
		 		width: 49% !important;
	 		}
	 	}
	 	.instagram-content {
	 		@include breakpoint(medium) {
	 			float: left !important;
		 		width: 49% !important;
		 		margin-left: 2% !important;
		 		padding-top: 0 !important;
	 		}
	 		ul {
	 			margin-bottom: 0;
	 		}
	 	}
	 	.instagram-nav {
	 		margin: 0;
	 		a.ps-close {
		 		margin-top: 20px;
		  		width: 31px;
		  		height: 31px;
		  	}
	  	}
  	}
  	
  	.seachInstagramLoadMoreContainer {
		padding: 20px;
		.seachInstagramLoadMore {
			background: none;
			color: black;
			border: 1px solid black;
			border-radius: 0;
			text-shadow: none;
			transition: 0.2s all ease-in-out;
			font-family: inherit;
			&:hover {
				background: black;
				color: white;
			}
		}
  }
}
.classic-view .instagram-photo {
	background: #000 !important;
}
.classic-view .instagram-content p a {
	color: $black !important;
}
// block with image and title
.image-link {
	height: 550px;

	@include breakpoint(large) {
		position: absolute;
		height: 100%;
		// width: 100%;
		left: 0.9375rem;
		right: 0.9375rem;
		top: 0;
	}

	a {
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		display: block;
		height: 100%;
		width: 100%;
	}
}

/*********************
IMAGE GALLERY STYLES
*********************/
.full-width-image {
	// height: 400px;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}
.gallery-container {
	a {
		img {
			position: relative;
			top:0;
			// transition: 0.2s ease-in top;
		}
		&:hover {
			img {
				// top: -3px;
			}
		}
	}
}
.instafeed img {
	width: 100%;
	transition: 0.1s all ease-in;
	border: 0px solid $white;
	&:hover {
		border: 1px solid $white;
	}
}
.gallery {
	.gallery-image {
		// display: inline-block;
		// width: 33.3333%;
		// img {
		// 	transition: 0.3s opacity ease-in;
		// 	width: 100%;
		// 	opacity: 1;
		// 	&:hover {
		// 		opacity: 0.7;
		// 	}
		// }
		// @include breakpoint(medium) {
		// 	width: 25%;
		// }
		// @include breakpoint(large) {
		// 	width: 12.5%;
		// }
	}

	dl {

		a {}

		img {}

	}

	dt {}

	dd {}

} 


// Gallery caption styles
.gallery-caption {}
.size-full {}
.size-large {}
.size-medium {}
.size-thumbnail {}

/*********************
PAGE NAVI STYLES
*********************/
.page-navigation {
	margin-top: 1rem;
}

/*********************
COMMENT STYLES
*********************/
#comments {
	.commentlist {
		margin-left: 0px;
	}
}

#respond {
	ul {
		margin-left: 0px;
	}
}

.commentlist {
	li {
		position: relative;
		clear: both;
		overflow: hidden;
		list-style-type: none;
		margin-bottom: 1.5em;
		padding: 0.7335em 10px;

		&:last-child {
			margin-bottom: 0;
		}

		ul.children {
			margin: 0;

			li {}

			.comment {}
			.alt {}
			.odd {}
			.even {}
			.depth-1 {}           // Change number for different depth  
			.byuser {}
			.bypostauthor {}
			.comment-author-admin {}

		}
	}

	li[class*=depth-] {
		margin-top: 1.1em;
	}

	li.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	li:not(.depth-1) {
		margin-left: 10px;
		margin-top: 0;
		padding-bottom: 0;
	}

	li.depth-2 {}
	li.depth-3 {
	}
	li.depth-4 {}
	li.depth-5 {}

	// General comment classes  
	.alt {}
	.odd {
	}
	.even {
	}
	.parent {}
	.comment {}
	.children {}
	.pingback {}
	.bypostauthor {}
	.comment-author {}
	.comment-author-admin {}
	.thread-alt {}
	.thread-odd {}
	.thread-even {}

	// vcard  
	.vcard {
		margin-left: 50px;

		cite.fn {
			font-weight: 700;
			font-style: normal;

			a.url {}

		}

		time {
			float: right;

			a {
				color: #999;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

			}

		}

		img.photo {}

		img.avatar {
			position: absolute;
			left: 10px;
			padding: 2px;
			border: 1px solid #cecece;
			background: #fff;
		}

	} // end .commentlist .vcard  


	// comment meta  
	.comment-meta {

		a {}

	}

	.commentmetadata {

		a {}

	}

	// comment content  
	.comment_content {

		p {
			margin: 0.7335em 0 1.5em;
			font-size: 1em;
			line-height: 1.5em;
		}

	} // end .commentlist .comment_content  

	// comment reply link  
	.comment-reply-link {
		float: right;

		&:hover,
		&:focus {
		
		}

	} // end .commentlist .comment-reply-link  

} // end .commentlist  

/*********************
COMMENT FORM STYLES
*********************/
.respond-form {
	margin: 1.5em 10px;
	padding-bottom: 2.2em;

	form {
		margin: 0.75em 0;

		li {
			list-style-type: none;
			clear: both;
			margin-bottom: 0.7335em;

			label,
			small {
				display: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url],
		textarea {
			padding: 3px 6px;
			background: #efefef;
			border: 2px solid #cecece;
			line-height: 1.5em;

			&:focus {
				background: #fff;
			}

			// form validation  
			&:invalid {
				outline: none;
				border-color: #fbc2c4;
				background-color: #f6e7eb;
				-webkit-box-shadow: none;
				   -moz-box-shadow: none;
				    -ms-box-shadow: none;
						box-shadow: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url] {
			max-width: 400px;
			min-width: 250px;
		}

		textarea {
			resize: none;
			width: 97.3%;
			height: 150px;
		}

	}
}

// comment submit button  
#submit {}

// comment form title  
#comment-form-title {
	margin: 0 0 1.1em;
}

// cancel comment reply link  
#cancel-comment-reply {
	a {}
}

// logged in comments  
.comments-logged-in-as {}

// allowed tags  
#allowed_tags {
	margin: 1.5em 10px 0.7335em 0;
}

// No comments  
.nocomments {
	margin: 0 20px 1.1em;
}

/*********************
SIDEBARS & ASIDES
*********************/
.sidebar {
}

#searchsubmit {
}

.widgettitle {
}
.callout .widgettitle {
	color: $dark-gray;
}
.widget {
	@extend .mbm;
	
	&.widget_recent_entries,
	&.widget_categories {

		ul {
			margin: 0;

			li {
				list-style: none;
				// border-bottom: 1px solid $light-gray;
				margin-bottom: 2px;
				&:first-child {}

				&:last-child {}

				// padding: 5px 10px;
				display: block;
				color: $white;
				// background: $medium-gray;
				&:hover {
					// background: $primary-color;
				}
				a {
					color: $white;
					text-decoration: none;
					font-weight: 300;
					&:hover {
					text-decoration: none;

					}
				}

				// deep nesting  
				ul {}

			}
		}
	}
}
/*********************
FOOTER STYLES
*********************/
.sticky-footer {
	@extend .bg-primary;
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
}
.social {

}
.footer {
	// border-top: $medium-gray 1px solid;
	clear: both;
	// margin-top: 1em;
	.menu a {
		// padding: 5px ;
		// background: none;
		// color: $dark-gray;
		// @extend .button;
		// @extend .primary;
		// @extend .expanded;
	}
	.widget {
		.menu {
			@extend .vertical;
			li {
				text-align: center;
				a {
					padding-top: 5px;
					padding-bottom: 5px;
				}
			}
		}
	}

}
#menu-very-bottom-menu {
	li {
		a {
			font-size: 10px;
			text-decoration: none;

		}
	}
}

#menu-useful-links a {
	// @extend .button;
	// @extend .expanded;
}
#menu-2nd-footer-menu {
	// @extend .vertical;
	li {
		// @extend .border-bottom;
		// @extend .upper
		;
	}
}
/*********************
FOUNDATION STYLES
*********************/
.accordion-item:first-child > :first-child,
:last-child:not(.is-active) > .accordion-title {
	border-radius: $global-radius;

}
.accordion-title {
	border-radius: $global-radius;
	overflow: hidden;
	text-decoration: none;
	color: $white !important;
	&:hover {
		text-decoration: none;
	}
}
/*********************
PLUGIN STYLES
*********************/
// Makes Gravity Forms play nice with Foundation Form styles
.gform_body ul {
    list-style: none outside none;
    margin: 0;
}
.tablepress {
	border-radius: $global-radius;
	overflow: hidden;
}
.tablepress tfoot th, 
.tablepress thead th {
	background: $black;
	color: $white;
}

.frm_submit {
	input {
		@extend .button;
		@extend .expanded;
	
	}
}

.frm_error_style {
	@extend .bg-alert;
	@extend .rounded;
	padding: 5px 10px;
	margin-bottom: 10px;
}
.frm_error {
	color: $red;
}
.frm_message {
	@extend .bg-success;
	@extend .rounded;
	padding: 5px 10px;
	margin-bottom: 10px;
	color: $dark-gray;
	p {
		color: $dark-gray !important;

	}
}

.post-1180 {
	table {
		tbody,
		tr:nth-child(2n) {
			background: none;
		}


	}
	.app_services {
		display: none;
	}
	.appointments-pagination {
		a {
			@extend .button;
			background-image: none;
			box-shadow: none;
			text-shadow: none;
			&:hover {

			}
		}
	}
}