
.woocommerce #content input.button.alt:hover, 
.woocommerce #respond input#submit.alt:hover, 
.woocommerce a.button.alt:hover, 
.woocommerce button.button.alt:hover, 
.woocommerce input.button.alt:hover, 
.woocommerce-page #content input.button.alt:hover, 
.woocommerce-page #respond input#submit.alt:hover, 
.woocommerce-page a.button.alt:hover, 
.woocommerce-page button.button.alt:hover, 
.woocommerce-page input.button.alt:hover {
	background:$primary-color !important;
	background-color:$primary-color !important;
	color:white !important;
	text-shadow: transparent !important;
	box-shadow: none;
	border: none !important;
    // padding: 14px;
    border-radius: 3px !important;
}

.woocommerce #content input.button:hover, 
.woocommerce #respond input#submit:hover, 
.woocommerce a.button:hover, 
.woocommerce button.button:hover, 
.woocommerce input.button:hover, 
.woocommerce-page #content input.button:hover, 
.woocommerce-page #respond input#submit:hover, 
.woocommerce-page a.button:hover, 
.woocommerce-page button.button:hover, 
.woocommerce-page input.button:hover {
	background:$primary-color !important;
	background-color:$primary-color !important;
	color:white !important;
	text-shadow: transparent !important;
	box-shadow: none;
	border: none !important;
    // padding: 14px;
    border-radius: 3px !important;
}

.woocommerce #content input.button, 
.woocommerce #respond input#submit, 
.woocommerce a.button, 
.woocommerce button.button, 
.woocommerce input.button, 
.woocommerce-page #content input.button, 
.woocommerce-page #respond input#submit, 
.woocommerce-page a.button, 
.woocommerce-page button.button, 
.woocommerce-page input.button {
	background: $primary-color !important;
	color:white !important;
	text-shadow: transparent !important;
	border: none !important;
    // padding: 14px;
    border-radius: 3px !important;
}

.woocommerce #content input.button.alt:hover, 
.woocommerce #respond input#submit.alt:hover, 
.woocommerce a.button.alt:hover, 
.woocommerce button.button.alt:hover, 
.woocommerce input.button.alt:hover, 
.woocommerce-page #content input.button.alt:hover, 
.woocommerce-page #respond input#submit.alt:hover, 
.woocommerce-page a.button.alt:hover, 
.woocommerce-page button.button.alt:hover, 
.woocommerce-page input.button.alt:hover {
	background: $primary-color !important;
	box-shadow: none;
	text-shadow: transparent !important;
	color:white !important;
	border: none !important;
    // padding: 14px;
    border-radius: 3px !important;
}
.woocommerce #respond input#submit.disabled, 
.woocommerce #respond input#submit:disabled, 
.woocommerce #respond input#submit:disabled[disabled], 
.woocommerce a.button.disabled, 
.woocommerce a.button:disabled, .woocommerce a.button:disabled[disabled], 
.woocommerce button.button.disabled, 
.woocommerce button.button:disabled, 
.woocommerce button.button:disabled[disabled], 
.woocommerce input.button.disabled, 
.woocommerce input.button:disabled, 
.woocommerce input.button:disabled[disabled] {
	// padding: 14px;
    border-radius: 3px !important;
}
.woocommerce {
	.woocommerce-breadcrumb {
		text-align: left;
		padding: 2em 0.5em;
		margin-bottom: 0;
	}
	.page-title {
		text-align: left;
		margin-bottom: 3rem;
	}
}
.woocommerce #content div.product div.images,
.woocommerce div.product div.images,
.woocommerce-page #content div.product div.images,
.woocommerce-page div.product div.images {
	float: none;
	width: auto;
}
.woocommerce-page .tabs {
	display: none;
}
.woocommerce div.product div.images {
	overflow: hidden;
	margin-top: 1rem;
	margin-bottom: 1rem;
	.woocommerce-product-gallery__image:nth-child(n+2) {
		// width: auto;
	}
	.woocommerce-product-gallery__image {
			float: left;
			width: 25%
		a {
		}
	}
}
.tax-product_cat {
	#content #inner-content {
		// background: $dark-white;
	}

}
.wc-bookings-booking-form {
	border: none; 
	padding:0;
	legend {
		display: none;
	}
}
.woocommerce {
	label {
		color: $white !important;
	}
}
.woocommerce form .form-row label {
	line-height: 1;
}
.wc-bookings-booking-cost {
	background: none !important;
	border: 0 !important;
}
.product-addon-drinks,
.product-addon-extras,
.product-addon-start-time {
	overflow: hidden;
	.form-row {
		float: left;
		width: 48%; 
		margin-right: 2% !important;
		clear: none !important;

	}
}
#add_payment_method table.cart img, 
.woocommerce-cart table.cart img, 
.woocommerce-checkout table.cart img {
	width: 150px;
}
.shop_table,
.woocommerce-checkout-payment {
	// color: $medium-gray !important;
	thead,
	tfoot,
	label,
	p {
		// color: $medium-gray !important;

	}
}
.woocommerce div.product p.price, 
.woocommerce div.product span.price {
	color: $white;
	text-align: center;
}
.woocommerce td.product-name .wc-item-meta p, .woocommerce td.product-name .wc-item-meta:last-child, .woocommerce td.product-name dl.variation p, .woocommerce td.product-name dl.variation:last-child {
	margin-bottom: 1rem;
}
.addon-radio {
	margin-bottom: 0.1rem !important; 
}
.wc-bookings-booking-form .form-field input[type=number] {
	width: 100%;
}

.woocommerce .col2-set, .woocommerce-page .col2-set {
	@extend .pam;
	@extend .bg-mediumgrey;
	margin-bottom: 1rem;

}

#order_review_heading {
	text-align: center;
}
#add_payment_method #payment, .woocommerce-cart #payment, .woocommerce-checkout #payment {
	background: $medium-gray;
}
#add_payment_method #payment div.payment_box, .woocommerce-cart #payment div.payment_box, .woocommerce-checkout #payment div.payment_box {
	// background: $dark-gray;
	color: $dark-gray; 
	label {
	color: $dark-gray !important; 

	}
}

[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea {
	background: $light-gray !important;
	color: $dark-gray !important;
}

.woocommerce-error, .woocommerce-info, .woocommerce-message {
	background: $medium-gray;
	color: $white;
}
.woocommerce-info::before {
	color: $white;
}
.woocommerce-info {
	border-color: $white;
}